<header>
    <!-- <img" src="../../assets/download.png" alt=""> -->
    <i class="fas fa-guitar"></i>
    <h1>Good music only!</h1>
    <div class="icons-container">
        <div class="icon-container" (click)="goToCreateArtist()">
            <i class="fas fa-music" title="Add an artist"></i>
            <span>Add an artist</span>
        </div>
        <div class="icon-container" (click)="goToCreateAlbum()">
            <i class="fas fa-record-vinyl" title="Add an album"></i>
            <span>Add an album</span>
        </div>
    </div>
</header>
